[Unit]
Description=Astronex Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=oliver
Group=docker
WorkingDirectory=~/Projects/Python/astronex/docker
ExecStart=~/Projects/Python/astronex/docker/start.sh
ExecStop=~/Projects/Python/astronex/docker/stop.sh
ExecReload=~/Projects/Python/astronex/docker/start.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target